@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,800;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('code.css');

:root {
    --red: #FF4848;
}

@media (prefers-color-scheme: dark) {
    :root {
        --red: #ff6a6a;
    }
}

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    width: 600px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.95;
    color: #272727;
    background: #fff;
    margin-left: 50px;
    margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #111;
    }
}

@media all and (max-width: 700px) {
    body {
        width: 100%;
        font-size: 14px;
        padding: 25px;
        margin: 0;
    }
}

em, i {
    color: #777;
}

@media (prefers-color-scheme: dark) {
    em, i {
        color: #999;
    }
}

iframe {
    width: 100%;
    height: 325px;
}

h1, h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #111;
    line-height: 1.35;
    letter-spacing: -0.025rem;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3 {
        color: #fff;
    }
}

h2, h3 {
    margin-top: 75px;
    margin-bottom: 25px;
}

h2 code, h3 code {
    font-size: inherit;
    border: 0;
    padding: 0;
    margin-left: 3px;
}

h2 {
    font-size: 23px;
}

@media all and (max-width: 700px) {
    h2 {
        font-size: 19px;
    }
}

h3 {
    font-size: 19px;
    font-weight: 400;
    color: #777;
}

@media (prefers-color-scheme: dark) {
    h3 {
        color: #444;
    }
}

@media all and (max-width: 700px) {
    h3 {
        font-size: 16px;
    }
}

.artsy-title {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
}

@media (prefers-color-scheme: dark) {
    .artsy-title {
        color: #777;
    }
}

@media all and (max-width: 700px) {
    .artsy-title {
        font-size: 12px;
    }
}

hr {
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-top: 1px solid #272727;
    }
}

ul {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
}

ul li {
    margin-bottom: 10px;
}

ul > li:last-child {
    margin-bottom: 0;
}

a {
    color: var(--red);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}

a:hover {
    border-bottom: 1px solid var(--red);
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    color: #6F69AC;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 2px 4px;
    top: -1px;
}

@media (prefers-color-scheme: dark) {
    code {
        color: #aeabd0;
        border: 1px solid #333;
    }
}

pre code {
    border: 0;
    padding: 0;
    top: 0;
}

pre {
    width: calc(100% + 50px);
    max-height: 300px;
    background: #f5f5f5;
    padding: 25px 25px 25px 50px;
    overflow: auto;
    margin-top: 25px;
    margin-left: -50px;
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    pre {
        background: #222;
    }
}

canvas {
    width: calc(100vw - 700px) !important;
    height: 100vh !important;
    background: #f5f5f5 !important;
    position: fixed;
    top: 0;
    right: 0;
}

@media (prefers-color-scheme: dark) {
    canvas {
        background: #171717 !important;
    }
}

@media all and (max-width: 850px) {
    canvas {
        display: none !important;
    }
}

.header {
    display: grid;
    grid-template-columns: 75px auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

@media all and (max-width: 700px) {
    .header {
        display: block;
        margin-top: 0;
    }

    .header.is-home {
        background: transparent;
        padding: 0;
        margin-top: 0;
    }
}

.header .logo {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background: url('/me.JPG') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    transform: rotate(-10deg);
    margin-left: -20px;
}

@media all and (max-width: 700px) {
    .header .logo {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-left: -10px;
    }
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: transparent;
    letter-spacing: -2px;
    border-radius: 100%;
}

@media all and (max-width: 700px) {
    .header .logo a {
        font-size: 16px;
    }
}

.header .logo a:hover {
    color: #fff;
    background: rgba(255, 72, 72, .75);
}

.header p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.65;
    margin: 13px 0 0;
}

@media all and (max-width: 700px) {
    .header p {
        font-size: 14px;
        margin-top: 20px;
    }

    .header p:after {
        display: block;
        content: '';
        width: 100px;
        height: 3px;
        background: #e5e5e5;
        border-radius: 5px;
        margin-top: 20px;
    }

    @media (prefers-color-scheme: dark) {
        .header p:after {
            background: #444;
        }
    }
}

.post .title {
    width: 85%;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (max-width: 700px) {
    .post .title {
        font-size: 29px;
    }
}

.post .meta {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
    .post .meta {
        color: #666;
    }
}

@media all and (max-width: 700px) {
    .post .meta {
        font-size: 13px;
    }
}

.post .entry h2 {
    font-weight: 600;
}

.posts .item {
    margin-bottom: 25px;
}

.posts .item .popular {
    font-size: 16px;
    color: #bbb;
    line-height: 1;
    position: absolute;
    top: 5px;
    left: -25px;
}

.posts.older-posts .item .popular {
    top: 3px;
}

@media (prefers-color-scheme: dark) {
    .posts .item .popular {
        color: #444;
    }
}

@media all and (max-width: 700px) {
    .posts .item .popular {
        font-size: 15px;
        top: 3px;
        left: -20px;
    }
}

.posts .item .title {
    width: 95%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.posts.older-posts .item .title {
    font-size: 17px;
    font-weight: 500;
}

@media all and (max-width: 700px) {
    .posts .item .title {
        font-size: 17px;
    }

    .posts.older-posts .item .title {
        font-size: 15px;
    }
}

.posts .item .meta {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: #999;
}

.posts.older-posts .item .meta {
    font-size: 13px;
}

@media (prefers-color-scheme: dark) {
    .posts .item .meta {
        color: #666;
    }
}

@media all and (max-width: 700px) {
    .posts .item .meta {
        font-size: 13px;
    }

    .posts.older-psots .item .meta {
        font-size: 12px;
    }
}
