/** FONTS */
/* ibm-plex-mono-regular - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-regular.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-italic - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-italic.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-500 - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-500italic - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: 500;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-500italic.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-600 - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-600italic - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: 600;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-600italic.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin-ext_latin */
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.woff")
            format("woff"),
        /* Modern Browsers */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("fonts/ibm-plex-mono-v11-latin-ext_latin-700.svg#IBMPlexMono")
            format("svg"); /* Legacy iOS */
}

/** RESET */
* {
    font-size: 13px !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/** GENERAL */
:root {
    --accent: #f94144;
    --keyword: #ff595e;
    --name: #1982c4;
    --symbol: #07ac80;
    --string: #c0a737;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #ff8a5b;
        --keyword: #ea526f;
        --name: #01baef;
        --symbol: #86cb92;
        --string: #ffd639;
    }
}

body {
    font-family: "IBM Plex Mono", monospace !important;
    font-weight: 400;
    line-height: 1.85;
    color: #333;
    letter-spacing: 0.1px;
    width: 500px;
    margin: 100px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #17191e;
    }
}

@media all and (max-width: 750px) {
    body {
        width: calc(100% - 50px);
        margin: 25px;
    }
}

em {
  opacity: .75;
  font-weight: 500;
  border-bottom: 1px dashed #eee;
}

@media (prefers-color-scheme: dark) {
  em {
    border-bottom: 1px dashed rgba(255,255,255,.05);
  }
}

h2 {
    font-weight: 600;
    line-height: 1.25;
    color: #111;
    margin-top: 60px;
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: #fff;
    }
}

h2 code {
    position: relative;
    top: -2px;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

a:hover {
    color: #fff;
    background: var(--accent);
    text-decoration: none;
}

strong {
    font-weight: 600;
    color: #272727;
}

@media (prefers-color-scheme: dark) {
    strong {
        color: #fff;
    }
}

p {
    margin-bottom: 25px;
}

hr {
    width: calc(100% + 50px);
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 50px;
    margin-left: -25px;
    margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-bottom: 1px solid #252c3e;
    }
}

@media all and (max-width: 750px) {
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

code {
    font-family: "Fira Code", monospace;
    color: #111;
    background: #f7f7f7;
    padding: 3px 6px 3px 6px;
}

@media (prefers-color-scheme: dark) {
    code {
        color: #fff;
        background: #1f242f;
    }
}

pre {
    width: calc(100% + 50px);
    max-height: 375px;
    background: #fefefe;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 25px;
    margin-top: 25px;
    margin-left: -25px;
    margin-bottom: 25px;
    overflow: auto;
}

@media (prefers-color-scheme: dark) {
    pre {
        color: #e5e5e5;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
}

@media all and (max-width: 800px) {
    pre {
        width: calc(100% + 50px);
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        margin-left: -25px;
    }
}

pre code {
    background: transparent;
    border: 0;
    padding: 0;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
    blockquote {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}

a.btn {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    background: var(--accent);
    border-radius: 25px;
    padding: 6px 16px 6px 16px;
}

/** HEADER */
.header .site-title a {
    font-size: 11px !important;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
}

@media (prefers-color-scheme: dark) {
    .header .site-title a {
        color: #fff;
    }
}

.header .site-title a:hover {
    color: #bbb;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    .header .site-title a:hover {
        color: #fff;
    }
}

/** CONTENT */
.content {
  margin-top: 50px;
}

/** HOME */
.year {
}

.year h3 {
    font-size: 12px;
    font-weight: 600;
    color: #111;
    margin-top: 50px;
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    .year h3 {
        color: #999;
    }
}

/** MIN POST */
.year .post {
    display: flex;
    margin-bottom: 20px;
}

.year .post .post-title {
    font-size: 13px;
    line-height: 1.5;
    flex-grow: 1;
    padding-right: 70px;
    margin: 0;
}

@media all and (max-width: 750px) {
    .year .post .post-title {
        padding-right: 50px;
    }
}

.year .post .post-title a {
    border: 0;
}

.year .post .post-meta {
    font-size: 11px !important;
    color: #999;
    white-space: nowrap;
    position: relative;
    top: -2px;
}

/** POST */
.content:not(.home) .post-title {
    width: 75%;
    line-height: 1.5;
    margin-bottom: 10px;
}

.content:not(.home) .page .post-title {
    margin-bottom: 50px;
}

.content:not(.home) .post-title a {
    font-weight: 800;
    font-size: 15px !important;
    color: #111;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .content:not(.home) .post-title a {
        color: #fff;
    }
}

.content:not(.home) .post-title a:hover {
    background: #eee;
}

@media (prefers-color-scheme: dark) {
    .content:not(.home) .post-title a:hover {
        background: #1f242f;
    }
}

.content:not(.home) .post-meta {
    font-size: 12px !important;
    color: #999;
    margin-bottom: 50px;
}

ul {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul li {
    margin-left: 15px;
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

.post-entry h2 {
    font-size: 13px !important;
}

/** CODE */
.hljs-keyword {
    color: var(--keyword);
}

.hljs-title,
.hljs-name,
.hljs-attr {
    color: var(--name);
}

.hljs-symbol {
    color: var(--symbol);
}

.hljs-string {
    color: var(--string);
}

.hljs-comment {
    opacity: 0.35;
}

/** CV */
.content.cv h2 {
  position: relative;
  margin-bottom: 25px;
}

.content.cv h2:before {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  background: #777;
  position: absolute;
  top: 4px;
  left: -20px;
}

@media (prefers-color-scheme: dark) {
  .content.cv h2:before {
    background: rgba(255,255,255,.5);
  }
}

@media all and (max-width: 750px) {
  .content.cv h2:before {
    left: -10px;
  }
}

.content.cv .main-title {
  font-weight: 800;
  font-size: 40px !important;
  letter-spacing: 3px;
  color: #999;
  margin-left: -50px;
}

@media (prefers-color-scheme: dark) {
  .content.cv .main-title {
    color: rgba(255,255,255,.35);
  }
}

@media all and (max-width: 750px) {
  .content.cv .main-title {
    display: inline-block;
    font-size: 25px !important;
    letter-spacing: -1px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  @media (prefers-color-scheme: dark) {
    .content.cv .main-title {
      border-bottom: 2px solid rgba(255,255,255,.25);
    }
  }
}

.content.cv .main-title:before {
  display: none;
}

.gig {
  margin-bottom: 50px;
}

.gigs h3 {
  font-weight: 500;
}

.gigs .meta {
  color: #777;
  font-size: 12px !important;
}

@media (prefers-color-scheme: dark) {
  .gigs .meta {
    color: rgba(255,255,255,.5);
  }
}

.gigs .meta .remote {
  display: inline-block;
  font-size: 11px !important;
  text-transform: uppercase;
  background: #eee;
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
  .gigs .meta .remote {
    color: #ddd;
    background: rgba(255,255,255,.1);
  }
}

.gigs .entry {
  margin-top: 10px;
}

/** FOOTER */
.footer {
    color: #777;
    margin-top: 100px;
}

@media (prefers-color-scheme: dark) {
    .footer {
        color: #eee;
    }
}

.footer * {
    font-size: 12px !important;
}

.footer:before {
    display: block;
    content: "";
    width: 50px;
    height: 0;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    .footer:before {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
}
